body {
  min-width: 900px;
  margin: 0;
  background: #849d8f  no-repeat;
  background-size: 1062px auto;
  font-family: "Roboto", "Arial", sans-serif;
}
.main-header {

    outline-color: #fc6d0d;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.container {
  width: 860px;
  padding: 0 20px;
  margin: 0 auto;
}

/*MAIN-NAVIGATION*/

.index_logo {
  float: left;
  width: 168px;
  height: 64px;
  margin-top: 22px;
  margin-left: -5px;
}
.main_header {
  padding-top: 23px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.main_navigation{
  float: left;
  margin-top:22px;
}

.main_navigation ul {
  margin: 0;
  padding: 0;

  list-style: none;
  font-size: 0;
}

.main_navigation ul li {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-radius: 20px;

  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.main_navigation a {
  display: block;
  padding: 6px 14px;
  color: #fff;
  border-radius: 20px;
  text-decoration: underline;
}

.main_navigation .dropdown {
  position: absolute;
  top: 40px;
  width: 144px;
  background: #f8f7f4;
  border-radius: 10px;
  display: none;
  z-index: 10;
}

.main_navigation .dropdown li {
  display: block;
}

.dropdown li:first-child a:hover {
  border-radius: 10px 10px 0 0;
}

.dropdown li:last-child a:hover {
  border-radius: 0 0 10px 10px;
}

.main_navigation .dropdown::before {
  content: "";
  height: 15px;
  display: block;
  background: transparent;
  position: absolute;
  top: -10px;
  width: 100%;
}

.dropdown a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #343434;
  padding: 9px 0 9px 20px;
  border-radius: 0;

  text-decoration: none;
}

.main_navigation li:hover .dropdown {
  display: block;
}

.dropdown li a:hover {
  background: #fbded7;
}

.dropdown li a:active {
  background: #f6b5a5;
}

.main_navigation li a.active {
  background: #d07058;
  color: #fff;
  text-decoration: none;
}

li .new {
  border-bottom: 1px solid #d1d0ce;
}

a.new {
  display: block;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.main_navigation li:hover {
  background: #f8f7f4;
  border-radius: 20px;
}

.main_navigation li:active {
  background: #ededed;
  box-shadow: inset 0 4px 3px #696969;
}

.main_navigation li:hover a {
  color: #333;
  text-decoration: none;
}

.main_navigation li:hover a.active {
  color: #fff;
}

.ice-cream-wrap {
  overflow: hidden;
}

/*USER-BLOCK*/

.user_block {
  text-align: right;
  margin-top: 22px;
  float: right;
}

.search {
  position: relative;
  display: inline-block;
  margin-right: 7px;
  vertical-align: middle;
}

.search:hover .icon_search {
  background: #f8f7f4 url("../img/user_blog.png") 3px -142px no-repeat;
}
.icon_search {
  position: relative;
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: rgba(255, 255, 255, 0.4) url("../img/user_blog.png") 3px -115px no-repeat;
}
.search:hover .form_search {
  display: inline-block;
  vertical-align: top;
}

.form_search {
  position: absolute;
  display: none;
  right: 0px;
  top: 37px;

  font-size: 14px;
  line-height: 24px;
  color: #999;
  font-weight: 400;
  background: #f8f7f4;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

 .form_search::before{
  content: "";
  height: 15px;
  display: block;
  background: transparent;
  position: absolute;
  top: -10px;
  width: 100%;
}

input {
  cursor: pointer;
  color: #333;
}

.form_search input {
  width: 312px;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  padding: 10px 0 10px 13px;
  box-sizing: border-box;
  height: 40px;
}

.form_search:hover input {
  border: 2px solid #9a9a9a;
  box-sizing: border-box;
  padding: 0 12px;
}

.form_search:focus input {
  border: 2px solid #8fbdec;
  border-radius: 5px;
  }

.login {
  left: 0;
  display: inline-block;
  vertical-align: middle;

  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.4);
}

.login:hover {
  background: #f8f7f4;
  color: #333;
}

.enter_block {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.enter_block:hover .enter {
  background: #f8f7f4;
  color: #333;
}

.enter_block:hover .enter::before {
  background-position: -5px -94px;
}

.enter {
  position: relative;
  padding: 7px 16px 7px 41px;
}

.enter::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 16px;
  width: 22px;
  height: 22px;
  background: url("../img/user_blog.png") -5px -64px no-repeat;
}

.enter:hover::before {
  background-position: -5px -94px;
}

.enter_form {
  display: none;
  position: absolute;
  right: 0;
  top: 36px;
  width: 271px;
  border-radius: 10px;
  padding: 20px 15px 10px 15px;
  color: #333;
  z-index: 10;
  background: #f8f7f4;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.enter_form::before{
 content: "";
 height: 15px;
 display: block;
 background: rgba(255, 255, 255, 0);
 position: absolute;
 top: -10px;
 width: 100%;
}

.enter_form a {
  font-size: 13px;
  line-height: 24px;
  color: #333;
  font-weight: 400;
}

.enter_block:hover .enter_form {
  display: block;
}

input.icon_password, input.icon_user {
  width: 241px;
  margin-bottom: 9px;
  padding: 9px 0 6px 11px;

  font-size: 14px;
  line-height: 24px;
  color: #333;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.enter_form .btn {
  margin-right: 12px;
  margin-top: 3px;
  padding: 5px 27px;
}

.chek {
  float: right;
  display: inline-block;
  vertical-align: top;
  width: 125px;
  text-align: left;
}

.basket_block {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.basket_block:hover .basket {
  background: #f8f7f4;
  color: #333;
}

.basket_block:hover .basket::before {
  background-position: -5px -35px;
}

.basket {
  position: relative;
  padding: 7px 32px 7px 45px;
  margin-left: 10px;
}

.basket::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 14px;
  width: 21px;
  height: 20px;
  margin: 0;
  font-size: 0;
  background: url("../img/user_blog.png") -5px -5px no-repeat;
}

.basket:hover::before {
  background-position: -5px -35px;
}

.basket_form .btn {
  font-size: 15px;
  padding: 5px 22px;
  margin-top: 15px;
  float: right;
}

.basket_form {
  display: none;
  position: absolute;
  text-align: left;
  right: 0px;
  top: 37px;
  width: 539px;
  border-radius: 10px;
  padding: 6px 16px 20px 8px;
  z-index: 10;
  background: #f8f7f4;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.basket_block:hover .basket_form {
  display: block;
}

.basket_form table {
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  color: #333;
  border: none;
  margin-top: 7px;
  margin-bottom: 29px;
}

.basket_form tr {
  height: 54px;
  vertical-align: center;
}

.basket_form td {
  border: none;
}

.close_ic {
  position: relative;
  width: 25px;
  width: 11px;
  height: 11px;
  background:  url("../img/Х.png") no-repeat 50% 50%;

}

.close_ic button {
  left: 0px;
}

.image_ic {
 width: 40px;
 height: 34px;
 background:  url("../img/Х.png") no-repeat 50% 50%;
}

.level1 .image_ic {
  background: url("../img/icecream_mini_1.png") 5px 10px no-repeat;
}

.level2 .image_ic {
  background: url("../img/icecream_mini_2.png") 5px 10px no-repeat;
}

.name_ice_cream {
  padding-left: 15px;
  width: 230px;
}

.level2 .name_ice_cream {
  padding-top: 13px;
}

.volume_ic {
  width: 128px;
  text-align: end;
}

.price_ic {
  width: 75px;
  text-align: end;
  padding-right:16px;
}

p.result {
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  color: #333;
  margin-top: 5px;
  margin-right: 5px;
  text-align: right;
}

.basket_form::before{
 content: "";
 height: 15px;
 display: block;
 background: rgba(255, 255, 255, 0);
 position: absolute;
 top: -10px;
 width: 100%;
}

.header_contacts {
  margin-top: 20px;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  font-weight: 700;
}

.header_contacts span {
  font-size: 22px;
  line-height: 28px;
}

.clik {
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.clik:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
  }

.clik:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
  }



/*СЛАЙДЕР*/
body > input[type="radio"] {
  display: none;
}
.site-wrapper{
	min-width: 900px;
	min-height: 100vh; /* для демо */

	background-repeat: no-repeat;
	transition: background-image 0.5s ease,
	background-color 0.5s ease;

}
.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image:  #9ebcab url("../img/icecream.png") ;
}

.site-wrapper:after {
  background-image: #9ebcab url("../img/icecream.png") ;
}
.content-wrapper {
  width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
.slider {
  position: relative;

  padding-top: 270px;

  text-align: center;
  color: #ffffff;
}
.slide {
  display: none;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;

  font-weight: 800;
  font-size: 60px;
}
.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}
#btn-1:checked ~ .site-wrapper {
  background: #849d8f url("../img/icecream.png") 50% 0 no-repeat;
}

#btn-2:checked ~ .site-wrapper {
  background: #8996a6 url("../img/icecream2.png") 50% 0 no-repeat;
}

#btn-3:checked ~ .site-wrapper {
  background: #9d8b84 url("../img/icecream3.png") 50% 0 no-repeat;
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.clearfix::after {
  content: "";

  display: table;
  clear: both;
}


/*МАЛИНКА ДАРОМ*/

.promo {
  width: 860px;
  margin:40px auto 40px;
  height:229px;
}
.promo-block {
  width: 420px;
  min-height: 229px;
  color:white;
  padding: 23px 20px;
  font-weight:bold;
  box-sizing: border-box;
}
.promo-left{
	float: left;
	background:   #8b0012 url("../img/malina_bg.png") no-repeat center top;
	margin-right:20px;
  border-radius: 15px;
}
.promo-right{
	float: right;
	background:  #532d13 url("../img/choco_bg.png") no-repeat center top;
  border-radius: 15px;
}
.promo-title {
	font-size:35px;
	line-height: 1;
	color: inherit;
  margin: 0;
}
.promo-text {
	font-size: 18px;
  line-height: 20px;
  margin: 0;
  padding-top:20px;
}
.btn-3{
	display: inline-block;
  padding: 12px 25px;

  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.btn-3:hover{
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-3:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.btn-3 {
  position: relative;
  left:190px;
  bottom:-20px;
}


/*КАРТИНКИ ГЛАВНАЯ*/

.ice-cream-list {
  font-size: 0;
}
.ice-cream {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 0;
  width: 200px;
  font-size: 16px;
  position: relative;
}
.ice-cream:hover{
  background-color: #a7b8ad;
}
.ice-cream:nth-child(2n) {
  margin: 0;
}
.ice-cream-img img{
	display:inline-block;
}

.hit-text{
  font-size: 16px;
  color:white;
  text-decoration: underline;
  text-align: center;
  line-height: 22px;
}


.hit{
  position: absolute;
  top:10px;
  display: inline-block;
  width: 61px;
  height: 61px;
  border-radius: 100px;
  text-decoration: none;
   background-image: url("../img/hit2.png");
}
.ice-cream-price {
  position: absolute;
  top: 145px;
}
.price-rub{
  font-size: 46px;
  color:white;
  text-shadow:#606261 2px 1px 2px;
  font-weight: 700;
}
.rub{
  display: inline-block;
  width:27px;
  height: 36px;
  text-shadow:#606261 2px 1px 2px;
  background:  url("../img/rubl.svg") no-repeat 50% 50%;
}
.kg{
  font-size: 30px;
  color:white;
  text-shadow:#606261 2px 1px 2px;
  font-weight: 600;
}



/*ВАФЛЯ*/

.info {
	background: #efe1c6 url("../img/vafl_bg.jpg") ;
	border-radius: 10px;
  padding: 30px 20px;
  margin: 40px auto 40px;
}
.info-list{
  font-size: 0;
}
.info-item {
  width: 400px;
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 10px 0;
  padding: 0 0 0 50px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 22px;
  color:black;
  position: relative;
}
.info-item img {
  position: absolute;
  left: 0;
  top: 0;
}
.info-item:nth-child(2n) {
  margin: 0 0 10px;
}
.info-title{
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  color:#323232;
  margin: 0 0 10px;
  max-width: 720px;
}
.info-text {
  margin: 0;
}
/*10 способов сервировки + почта*/

.news-mailng {
  margin: 20px 0;

}
.news {
	float:left;
	width: 420px;
  padding: 20px;
  box-sizing: border-box;
	min-height: 220px;
	background:  #ffffff url("../img/strawberry_bg.png") no-repeat center top;
  border-radius: 15px;

}
.news-text{

	font-size:16px;
	line-height:normal;
	color:#353535;
	font-weight:medium;
	font-weight: 500;
}
.news-10-sposobov{
	font-size:24px;
	line-height:normal;
	color:#353535;
	font-weight:bold;
  font-weight: 700;

}
.news-10-sposobov:hover{
  color:#ec593c;
  border-radius: 10px;
}
.mailing{
	float:right;
	width: 420px;
	min-height: 220px;
	background: #ffffff url("../img/email_bg.png") no-repeat center top;
  border-radius: 15px;


}
.mailng-text{
	font-size:16px;
	line-height:normal;
	color:#353535;
	font-weight:bold;
  margin-left:20px;


}
.email-form{
  margin-left: 20px;
}
.email-form input[type="text"]{

  color: #999999;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 10px;
  padding: 8px 8px;
  padding-right: 40px;
  border-radius: 5px;
}
.email-form .email-btn{
  display: inline-block;
  padding: 10px 20px;

  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);

  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;

}

.email-btn:hover{
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}



.map {
  position: relative;
  width: 1200px;
  margin: 26px auto 15px;
  height: 430px;
  background: #f6f0d8 url("../img/map.jpg") no-repeat top center;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.map_wrapper {
  width: 100%;
  height: 430px;
}




.contacts {
  position: absolute;
  right: 27px;
  top: 66px;
  width: 302px;
  padding: 30px 25px;
  border-radius: 20px;
  background-color: #fffffe;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.contacts p {font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #343434;
}

.contacts span {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #343434;
}

.adress {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 18px;
}

.tel {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  padding-bottom: 3px;
}

.communication {
  display: inline-block;
  padding: 12px 32px;
  margin-top: 21px;

  border: 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 23px;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
}

.modal_content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -221px;
  margin-left: -237px;
  width: 454px;
  border-radius: 15px;
  padding-left: 24px;

  color: #000;
  background: #f8f7f4;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  }

.form_comm{
  width: 454px;
  border-radius: 15px;
  padding-left: 24px;
  margin: 0 auto;
  text-align: center;
  color: #000;
}

.modal_content_show {
  display: block;
}

.modal_content p {
  font-size: 24px;
  color: #343434;
  line-height: 22px;
  font-weight: 500;
  margin: 21px 0;
}

input.name, input.mail{
  width: 247px;
  margin-bottom: 20px;
  padding: 9px 0 9px 20px;

  font-size: 16px;
  line-height: 24px;
  color: #656565;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 8px;
}

input.write{
  width: 428px;
  padding: 11px 0 125px 20px;
  margin-bottom: 20px;

  font-size: 16px;
  line-height: 24px;
  color: #656565;

  background-color: #fff;
  border: 1px solid #d3d3d2;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.close {
  position: absolute;
  top: 15px;
  right: 19px;
  width: 17px;
  height: 17px;

  font-size: 0;

  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.close::before,
.close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;

  width: 19px;
  height: 3px;
  background-color: #333;
  border-radius: 1px;
}

.close::before {
  transform: rotate(45deg);
}

.close::after {
  transform: rotate(-45deg);
}

.comm_form .btn{
  margin-left: 294px;
  padding: 10px 24px;
  margin-bottom: 25px;
}

.main_part {
  border-bottom: #a9bbb1 solid 1px;
}

/*FOOTER*/

.main-footer {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-social{
	float:left;
	width: 220px;
  font-size: 0;

}
.footer-social a {
  margin-right: 10px;
}
.social-btn{
  width:40px;
  height:40px;
  font-size: 0;
  display: inline-block;
  vertical-align: top;
  position: relative;


}
.social-btn::before{
  content: "";
  position: absolute;
  top: 50%;
  left:50%;
    transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.social-btn-twi::before{
  width: 39px;
  height: 38px;
  background-position: -5px -527px;
}
.social-btn-inst::before{
 width: 38px;
    height: 38px;
    background-position: -5px -361px;
}
.social-btn-fb::before{
    width: 38px;
    height: 38px;
    background-position: -5px -204px;
}
.social-btn-vk::before{
    width: 38px;
    height: 38px;
    background-position: -5px -625px;
}

.footer-contacts{
	float:left;
	width: 320px;

  color: white;
  padding: 0 0 0 60px;
  box-sizing: border-box;
  font-size: 0;
}

.footer-contacts a{
  font-size: 13px;
  color:white;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  box-sizing: border-box;
}
.footer-contacts::before{
  content: "";
  position: absolute;
  top: 50%;
  left:50%;
    transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}
.footer-contacts a:hover{
  color:#ec593c;
}
.footer-copyright{
	float:right;
	width: 200px;
  color:white;
  font-size: 12px;
}
.footer-copyright a{
  color:white;
}
/*Каталог*/
.content{
  width: 860px;
  padding: 0 20px;
  margin: 0 auto;
}
.breadcrumbs{
  width: 250px;
  min-height: 15px;
  font-weight: 400;
  font-size: 14px;
  color:white;
  text-decoration: none;

  margin-bottom: 10px;
  text-align: left;
}
.breadcrumbs a{

  color:white;
  text-decoration: none;
}
.btn-nav{
  margin-right:7px;
}


.search,
.enter,
.basket {
  display: inline-block;
  vertical-align: top;
}
.search,
.enter {
  margin: 0 9px 0 0;
}
.favourite {
  position: relative;
}
.favourite::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 13px;
  background-position: -5px -252px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  left: -20px;
  top: 1px;
}
/*SPTITES*/
.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: block;
}

.sprite {
    width: 11px;
    height: 11px;
    background-position: -5px -5px;
}

.sprite-basket {
    width: 21px;
    height: 20px;
    background-position: -5px -26px;
}

.sprite-basket_red {
    width: 21px;
    height: 20px;
    background-position: -5px -56px;
}

.sprite-checkbox {
    width: 20px;
    height: 20px;
    background-position: -5px -86px;
}

.sprite-checkbox_on {
    width: 20px;
    height: 20px;
    background-position: -5px -116px;
}

.sprite-enter {
    width: 21px;
    height: 19px;
    background-position: -5px -146px;
}

.sprite-enter_black {
    width: 21px;
    height: 19px;
    background-position: -5px -175px;
}

.sprite-fb {
    width: 38px;
    height: 38px;
    background-position: -5px -204px;
}

.sprite-heart {
    width: 15px;
    height: 13px;
    background-position: -5px -252px;
}

.sprite-icecream_mini1 {
    width: 33px;
    height: 33px;
    background-position: -5px -275px;
}

.sprite-icecrean_mini2 {
    width: 33px;
    height: 33px;
    background-position: -5px -318px;
}

.sprite-insta {
    width: 38px;
    height: 38px;
    background-position: -5px -361px;
}

.sprite-lupa {
    width: 17px;
    height: 17px;
    background-position: -5px -409px;
}

.sprite-lupa_black {
    width: 17px;
    height: 17px;
    background-position: -5px -436px;
}

.sprite-radiobtn {
    width: 21px;
    height: 22px;
    background-position: -5px -463px;
}

.sprite-radiobtn_on {
    width: 21px;
    height: 22px;
    background-position: -5px -495px;
}

.sprite-twi {
    width: 39px;
    height: 38px;
    background-position: -5px -527px;
}

.sprite-twi_on {
    width: 41px;
    height: 40px;
    background-position: -5px -575px;
}

.sprite-vk {
    width: 38px;
    height: 38px;
    background-position: -5px -625px;
}




/*Контейнер-каталог*/
.container-catalog{
  width: 860px;
  margin: 0 auto;
}
.container-catalog fieldset{
  border:none;
  margin-left: 0;
}
.container-title{
  font-weight: 700;
  font-size: 35px;
  color:white;
}
.container-catalog legend{
  font-size: 14px;
  font-weight: 500;
  color: white;
}
.sorting-price-fatness fieldset{
  display: inline-block;
  vertical-align: middle;
}
.sorting-block{
  background-color: #a9bab0;
  border-radius: 50px;
  width:190px;
  padding:6px 0 6px;

}

.sorting select{
  color:white;
  font-size: 16px;
  font-weight: 500;
  background-color: #a9bab0;
  border:none;
  margin-left: 10px;
}
.price-range{
  width: 190px;

}
.range-controls{
  position: relative;
    width: 200px;
  background-color: #a9bab0;
  border-radius: 50px;
  height:19px;

  padding-top:17px;

  padding-right: 5px;
  padding-left: 5px;

}
.range-controls .scale {
  height: 2px;
  background: #d1d9d2;
}

.range-controls .bar {
  width: 50%;
  height: 2px;
  background: white;
  margin-left: 20px;
}
.range-controls .toggle {
  position: absolute;
  top: 8px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background: white;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 125px;
}

/*ЖИРНОСТЬ*/

.fatness-block{
background-color: #a9bab0;
  border-radius: 50px;
  width: 350px;
  padding:8px 0 8px;

}
.fatness-block input{
  display: inline;
  padding: 5px 5px;
}
.fatness-block label{
  font-size: 16px;
  font-weight: 500;
  color:white;

   }
.fatness input[type="radio"]{
  display: none;
}
.fatness input[type="radio"] +label{
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-left: 5px;
  padding-left: 25px;
}

.fatness input[type="radio"] +label::before{
  content: "";
  display: block;
  position: absolute;
  top:0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
    height: 22px;
    background-position: -5px -463px;
}
.fatness input[type="radio"]:checked +label::after{
  content:"";
  position: absolute;
  top:0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 21px;
    height: 22px;
    background-position: -5px -495px;
}



/*НАПОЛНИТЕЛИ*/

.fillers-submit{
  margin-bottom: 20px;
}

.fillers-block{
  width: 650px;
  background-color:#a9bab0;
   border-radius: 50px;
   padding:8px 0 8px;
}
.fillers-block label{
  font-size: 16px;
  font-weight: 500;
  color:white;
}
.fillers-submit fieldset{
  display: inline-block;
}
.fillers-submit .fillers{
  width:600px;
  }

.fillers-submit .fillers-submit{
  width:130px;
  }
.fillers-submit input{
  font-size: 16px;
  font-weight: 500;
  color:white;
  background-color:#a9bab0;
  border-radius: 50px;
  border: 2px solid white;
  padding: 5px 20px;
  cursor: pointer;
}
 .fillers input[type="checkbox"]{
  display: none;
}
.fillers input[type="checkbox"] +label{
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin:0px 5px;
  padding-left: 30px;
}

.fillers input[type="checkbox"] +label::before{
  content: "";
  display: block;
  position: absolute;
  top:0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 20px;
    height: 20px;
    background-position: -5px -86px;
}
.fillers input[type="checkbox"]:checked +label::after{
  content:"";
  position: absolute;
  top:0;
  left: 0;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 20px;
    height: 20px;
    background-position: -5px -116px;
}


/*PAGINATION*/
.pagination{
  position: relative;
  margin-top: 100px;
  margin-bottom: 40px;
  width:860px;
  float: right;
}
.pagination-float{
  width: 250px;
  float:right;
}
.pagination a {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  margin-right: 10px;
}
.page-black{
  color:black;
}
.btn-catalog a{
  color:white;
  font-size: 16px;
    font-weight: 500;
  text-decoration: none;
}
.btn-catalog1 .page-back{
  position: relative;
  display: inline-block;
  width: 14px;
  height: 9px;
  background:  url("../img/page_back.png") no-repeat 50% 50%;
}
 .btn-catalog1 .page-up{
  position: relative;
  display: inline-block;
  width: 14px;
  height: 9px;
  cursor: pointer;
 background:  url("../img/page_up.png") no-repeat 50% 50%;
 margin-right: 0;
}
.btn-catalog2{
  position: relative;
  top:3px;
  display: inline-block;
  width: 26px;
  height: 26px;
  background:  url("../img/page.png") no-repeat 70% 50%;
}
.pagination .btn-catalog2 a{
  color:black;
}

.btn-catalog:hover{
  color:white;
  display: inline-block;
   width: 26px;
  height: 26px;
  cursor: pointer;
 background:  url("../img/pagehover.png") no-repeat 70% 50%;
 opacity: 0.7;
}
